*{
    box-sizing: border-box;
}
body{
    margin: auto 0;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
/* Index/ Homepage  Style */
#homepageBackground{
    background-color: #F8D3D3;
    border-radius: 38px;
    text-align: center;
    width: 87vw;
    height: 96vh;
    /* width: 100%;
    height:100vh; */
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.homepageTitle{
font-size: 90px;
margin-top: 50px;
margin-bottom: 16px;
}

.playersHomepage{
    display:flex;
    justify-content: center;
    align-items: center;
}
.choosePlayers{
    /* display:flex; */
    justify-content: center;
    align-items: center;
}
/* Choose Player Options */
.playerOption{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    align-content: center;
    /* margin:50px; */
}
.choosePlayerText{
    background-color: white;
    border-radius:38px;
    border:none;
    /* margin: 50px; */
    font-size: 60px;
    padding:20px;
}
.onePlayer{
    background-color: white;
    border-radius:38px;
    border:none;
    padding:15px;
    font-size: 35px;
    cursor: pointer;
}
.twoPlayer{
    background-color: white;
    border-radius:38px;
    border:none;
    padding:15px;
    font-size: 35px;
    cursor: pointer;
}

/* Start Page */
#startPage{
    display:none;
}
#startPage{
    background-color: #F8D3D3;
    border-radius: 38px;
    text-align: center;
    width: 76vw;
    height: 96vh;
    /* width: 100%;
    height:100vh; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    margin: 10px;
}

.startSection{
    display: flex;
    justify-content:center;
    align-items:center;
}
.start{
    background-color: white;
    border-radius:38px;
    border:none;
    font-size: 100px;
    padding:20px;
    width: 100%;
    
}

/* Instruction Section */
.instructionSection{
    background-color:#FAE3E3;
    border-radius: 38px;
    width: 20%;
    height: 96vh;
    margin-top: 11px;
    text-align:center;
    display:none;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}
.instructionHeading{
    /* text-align:center; */
    background-color: white;
    border-radius:38px;
    padding:10px;
    font-size:18px;
    margin:10px;
}
.instructionDiv{
    background-color:white;
    /* font-size: 20px; */
    border-radius: 38px;
    /* padding:50px; */
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 10px;
}

.instructionText{
    font-size: 20px;
}

/* Card Background */
.cardBackground{
    background-color: #F8D3D3;
    border-radius: 38px;
    text-align: center;
    width: 87vw;
    height: 96vh;
    /* width: 100%;
    height:100vh; */
    /* display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px; */
    display:none;
}
.playerOneCardSection{
    border:thick solid black;
    border-radius: 38px;
    text-align: center;
    width: 83vw;
    height: 90vh;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly
}
/* Card Styling when toggle */
.card{
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly
}
.card-back{
    border-radius: 31px;
    background-color: white;
    width: 182px;
    /* width: 234px; */
    height: 216px;
    /* width: 206px;
    /* width: 234px; */
    /* height: 264px; */
    /* margin: 10px; */
    display:flex;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}
.card-front{
    border-radius: 31px;
    background-color: white;
    width: 182px;
    /* width: 234px; */
    height: 216px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.cardImg {
    width: 122px;
    /* width: 234px; */
    height: 119px;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}
/* Time & Score Section */
.timeSection {
    background-color:#FAE3E3;
    border-radius: 38px;
    width: 20%;
    height: 96vh;
    margin-top: 11px;
    text-align:center;
    display:none;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}
/* player One Time & Score */
.timeHeading{
    background-color: white;
    border-radius:38px;
    padding:10px;
    font-size:18px;
    margin:10px;
}
.scoreHeading{
    background-color: white;
    border-radius:38px;
    padding:10px;
    font-size:18px;
    margin:10px;
}
.instructionHeading1{
    background-color: white;
    border-radius:38px;
    padding:10px;
    font-size:18px;
    margin:10px;
}
.instructionDiv1{
    background-color:white;
    /* font-size: 20px; */
    border-radius: 38px;
    /* padding:50px; */
    /* display: flex;
    align-content: center;
    flex-direction: column;
    margin: 10px; */
    display:none;
}